<% provide(:page, 'edit_profile') %>
<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      
      <p>This information will be publicly available to all Jammers.</p>

      <span style="display: none;" id="profile_id"><%= @profile.id %></span>

      <%= form_for @profile do |f| %>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :first_name %><br>
              <%= f.text_field :first_name, class: "form-control" %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :last_name %><br>
              <%= f.text_field :last_name, class: "form-control" %>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <%= f.label :age %><br>
              <%= f.number_field :age, in: 0..120, class: "form-control" %>
            </div>
          </div>
          <div class="col-sm-9">
            <div class="form-group">
              <%= f.label :location %><br>
              <%= f.text_field :location, class: "form-control" %>
            </div>
          </div>
        </div>
	
	<div class="form-group">
          <%= f.label :Artists_You_Enjoy %>
	  <%= f.text_field :artists_list, class: "form-control", data: {tags: true} %>
        </div>

        <table class="table" id="instrument-table">
          <thead>
            <tr>
              <th>Instrument</th>
              <th class="proficiency">Proficiency</th>
              <th class="own-instrument">Do you own this instrument?</th>
              <th class="actions"></th>
            </tr>
          </thead>
          <tbody>
            <% @profile.instrument_profile.each do |i| %>
              <tr id="i_id-<%= i.instrument.id %>">
                
                <td class="table-content instrument">
                  <%= i.instrument.name %>
                </td>
                
                <td class="table-content proficiency">
                  
                  <div class="showing-instrument">
                    <span class="current-proficiency"><%= i.proficiency %></span>
                  </div>
                  
                  <div class="editing-instrument hidden">
                    <select id="proficiency-i_id-<%= i.instrument.id%>" class="form-control" style="width: auto; display: inline;">
                      <option value="Newb">Newb</option>
                      <option value="Beginner">Beginner</option>
                      <option value="Novice">Novice</option>
                      <option value="Intermediate">Intermediate</option>
                      <option value="Experienced">Experienced</option>
                      <option value="Expert">Expert</option>
                      <option value="Virtuoso">Virtuoso</option>
                    </select>
                    
                  </div>
                </td>
                
                <td class="table-content own-instrument">
                  <div class="showing-instrument">
                    <span class="current-own-status"><%= i.owned ? "Yes" : "No" %></span>
                  </div>
                  <div class="editing-instrument hidden">
                    <select id="own-i_id-<%= i.instrument.id %>" class="form-control">
                      <option value="false">No</option>
                      <option value="true">Yes</option>
                    </select>
                  </div>
                </td>
                
                <td class="table-content actions">
                  <div class="showing-instrument">
                    <button type="button" id="edit-i_id-<%= i.instrument.id %>" class="btn btn-primary edit_instrument">Edit</button>
                    <button type="button" id="remove-i_id-<%= i.instrument.id %>" class="btn btn-primary remove_instrument">Remove</button>
                  </div>
                  <div class="editing-instrument hidden">
                    <button type="button" id="update-i_id-<%= i.instrument.id %>" class="btn btn-primary update_instrument">Update</button>
                    <button type="button" id="cancel-i_id-<%= i.instrument.id %>" class="btn btn-primary cancel_update">Cancel</button>
                  </div>
                </td>
                
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <td>
                <select name="instruments" class="form-control">
                  <%= options_from_collection_for_select(Instrument.all, :id, :name) %>
                </select>
              </td>
              <td>
                <select name="proficiency" class="form-control">
                  <option value="Newb">Newb</option>
                  <option value="Beginner">Beginner</option>
                  <option value="Novice">Novice</option>
                  <option value="Intermediate">Intermediate</option>
                  <option value="Experienced">Experienced</option>
                  <option value="Expert">Expert</option>
                  <option value="Virtuoso">Virtuoso</option>
                </select>
              </td>
              <td class="own-instrument">
                <select name="owned" class="form-control">
                  <option value="false">No</option>
                  <option value="true">Yes</option>
                </select>
              </td>
              <td class="actions">
                <button type="button" class="btn btn-primary" id="add_instrument">+ Add instrument</button>
              </td>
            </tr>
          </tfoot>
        </table>

        <div class="form-group">
          <%= f.label :bio %>
          <%= f.text_area :bio, size: "60x4", class: "form-control" %>
        </div>

        <%= f.submit "Update", class: "btn btn-primary form-control" %>
      <% end %>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
