<h1>Edit profile</h1>

<%= form_for @profile do |f| %>
  <%= f.text_field :first_name %>
  <%= f.text_field :last_name %>
  <%= f.number_field :age, in: 0..120 %>
  <%= telephone_field(:profile, :phone) %>
  <%= f.text_area :bio, size: "60x12" %>
  <%= f.submit "Update" %>
<% end %>

  <table>
    <tr>
      <th>Instrument</th>
      <th>Proficiency</th>
    </tr>
    <tr>
      <th>
        <select name="instruments">
          <option value="electricGuitar">Electric Guitar</option>
          <option value="acousticGuitar">Acoustic Guitar</option>
          <option value="piano">Piano</option>
          <option value="keyboard">Keyboard</option>
        </select>
      </th>
      <th>
        <select>
          <option value="newb">Newb</option>
          <option value="beginner">Beginner</option>
          <option value="novice">Novice</option>
          <option value="intermediate">Intermediate</option>
          <option value="experienced">Experienced</option>
          <option value="expert">Expert</option>
          <option value="virtuoso">Virtuoso</option>
        </select>
      </th>
    </tr>
  </table>
  
  <button id="add_instrument" onclick="addInstrument">+ Add another instrument</button>
  <br><br>

  <input type="submit" value="Save">
</form>