<div class="container">
  <h1><%= @profile.first_name + ' ' +  @profile.last_name %></h1>

  <p><strong>Age:</strong> <% if @profile.age.blank? %>Not Provided<% else %><%= @profile.age %><% end %></p>
  <p><strong>Phone Number:</strong> <% if @profile.phone.blank? %>Not Provided<% else %><%= @profile.phone %><% end %></p>

  <td><strong>Instruments:</strong>
  <table class="show-instruments-table table table-bordered">
    <thead>
      <tr>
        <th>Instrument Type</th>
        <th>Proficiency</th>
        <th>Possession</th>
      </tr>
    </thead>
    <tbody>
      <% if @profile.instrument_profile.each do |i| %>
        <tr>
          <td class="show-instrument">
            <%= i.instrument.name %>
          </td>
          <td class="show-proficiency">
            <%= i.proficiency %>
          </td>
          <td class="show-own-status">
            <%= i.owned ? "I own this instrument" : "I do not own this instrument" %>
          </td>
        </tr>
      <% end.empty? %>
        <tr><td colspan="2">You play no instruments!</td></tr>
      <% end %>
    </tbody>
  </table>

  <p><strong>Location:</strong> <% if @profile.location.blank? %>Not Provided<% else %><%= @profile.location %><% end %></p>

  <p><strong>Bio:</strong> <% if @profile.bio.blank? %>Not Provided<% else %><%= @profile.bio %><% end %></p>
</div>
