<h1><%= @profile.first_name + ' ' +  @profile.last_name %></h1>

<table>
    <tr>
        <td>Age: <%= @profile.age %></td>
    </tr>
    <tr>
        <td>Phone Number: <%= @profile.phone %></td>
    </tr>
    
    <tr>
        <td>Instruments: <%= @profile.instrument.ids %></td>
    </tr>
    
    <tr>
        <td>Bio: <%= @profile.bio %></td>
    </tr>
</table>