<div class="container">
  <div class="page-header row">
    <div class="col-md-1 col-sm-2 col-xs-2">
      <img class="media-object responsive-image" src="<%= @jam_group.image_url %>" alt="<%= @jam_group.name %> Image" height="80" width="80">
    </div>
    <div class="col-md-10 col-sm-8 col-xs-8">
      <h1><%= @jam_group.name %></h1>
      <p><small><b>Last Updated:</b> <%= @jam_group.updated_at %></small></p>
    </div>
    
    <% if @jam_group.jam_group_members.find_by(profile_id: current_user.profile.id) %>
      <div class="col-md-1 col-sm-2 col-xs-2">
        <br/>
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Actions <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><%= link_to 'Edit Group Info', edit_jam_group_path(@jam_group) %></li>
            <li><%= link_to 'Leave this group', @jam_group, method: :delete, data: { confirm: 'Are you sure?' } %></li>
            <li role="separator" class="divider"></li>
            <li class="text-danger"><%= link_to 'Delete this group', jam_group_path(@jam_group, force_delete: 'true'), method: :delete, data: { confirm: 'Are you sure?' }, class: "text-danger" %></li>
          </ul>
        </div>
      </div>
    <% end %>
    
  </div>
  
  <% if @jam_group.jam_group_members.find_by(profile_id: current_user.profile.id) %>
  <div class="row">
      <div class="col-sm-7">
        <ul class="nav nav-tabs">
          <li role="presentation" <% if yield(:page) == 'info' %>class="active"<% end %> ><%= link_to 'Info', @jam_group %></li>
          <li role="presentation" <% if yield(:page) == 'chat' %>class="active"<% end %> ><%= link_to 'Chat', jam_group_chat_url(@jam_group) %></li>
        </ul>
        <%= yield %>
        <hr>
      </div>
      <div class="col-sm-1"></div>
      
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            Members 
          </div>
  
          <div class="panel-body">
            <div class="row hidden" id="add-member-warning">
              <div class="col-xs-12"><p class="text-danger">* Select a user first!</p></div>
            </div>
            <div class="row">
<!-- Begin add users -->

            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-primary btn-lg" style='margin-left: 0.5em;' data-toggle="modal" data-target="#searchModal">Add Members!</button>
            
            <!-- Modal -->
            <div id="searchModal" class="modal fade" role="dialog">
              <div class="modal-dialog">
            
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Search for Jam Members!</h3>
                  </div>
                  
                  <!-- Begin modal body --> 
                  <div class="modal-body" style='padding: 0'>
                    <%= form_tag(jam_group_path, :method => "get", id: "search-form", style: 'margin: 10px') do %>
                    <%= text_field_tag :name, params[:name], placeholder: "Find by name" %>
                    <%= text_field_tag :location, params[:location], placeholder: "Find by location" %>
                    <%= submit_tag "Go!" %>
                    <% end %>
                    <div class="list-group" style='margin-bottom: 0;'>
                      <% if @nonmembers.each do |profile| %>
                       <div class="list-group-item">
                          <div class="media">
                            <div class="media-left">
                              <%= gravatar_for profile.user, class: "media-object" %>
                            </div>
                            <div class="media-body">
                              <%= link_to profile_path(profile), target: "_blank" do %>
                              <h4 class="media-heading"><%= profile.full_name %></h4>
                              <% end %>
                              <h4 class="media-heading">Location: <%= profile.location %></h4>
                              <h4 class="media-heading">Age: <%= profile.age %></h4>
                            </div>
                            <div class="media-right">
                              <%= button_to "Invite!", { controller: 'jam_group_members', action: 'create'}, remote: true, params: { profile: profile.id, jam_group: @jam_group.id }, class: 'btn btn-primary btn-med'  %>
                            </div>
                          </div>
                        </div>

                      <% end.empty? %>
                        <li> Couldn't find any users!</li>
                      <% end %>
                    </div>
                  </div>
                  <!-- End modal body -->
                  
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
            
              </div>
            </div>

<!-- End add users -->
            </div>
          </div>
  
          <div class="list-group">
            <% if @jam_group.jam_group_members.each do |member| %>
              <%= link_to profile_path(member.profile), class: "list-group-item" do %>
                <div class="media">
                  <div class="media-left">
                    <%= gravatar_for member.profile.user, clazz: "media-object" %>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading"><%= member.profile.full_name %></h4>
                    <% if member.status.capitalize == "Pending" %>
                      Pending since
                    <% else %>
                      <%= member.status.capitalize %>
                    <% end %> 
                    <%= member.updated_at %>
                    <% if member.status.capitalize == "Joined" %>
                      <b>Email:</b> <%= member.profile.user.email %>
                      <% if !member.profile.phone.blank? %>
                        </br>
                        <b>Phone:</b> <%= member.profile.phone %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% end.empty? %>
              <li>No Members!</li>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    You are not a member of this Jam Group.
  <% end %>
</div>

<script>
function $_GET(param) {
  var vars = {};
  window.location.href.replace( location.hash, '' ).replace( 
    /[?&]+([^=&]+)=?([^&]*)?/gi, // regexp
    function( m, key, value ) { // callback
      vars[key] = value !== undefined ? value : '';
    }
  );

  if ( param ) {
    return vars[param] ? vars[param] : null;  
  }
  return vars;
}

  if ($_GET('location') != null || $_GET('name') != null) {
    console.log(location)
    $('#searchModal').modal('show');
  }
</script>

