<% provide(:page, 'chat') %>
<%= render :layout => 'jam_groups/show' do %>
  <h3>Chat:</h3>
  <p>TODO</p>
  <%= form_for @comment, url: {action: "chat"} do |f| %>
    <%= f.text_area :comment, class: "form-control", placeholder: "Comment" %>
    <%= f.submit "Add Comment", class: "btn btn-primary" %>
  <% end %>
  <ul>
    <% @jam_group.comments.order('created_at DESC').each do |comment| %>
      <li><b><%= comment.profile.full_name %></b>: <%= comment.comment %> (<%= timeago(comment.created_at) %>)</li>
    <% end %>
  </ul>
<% end %>
