<div class="container">
  <h1>Jam Groups</h1>

  <p><%= link_to 'Create a Jam Group', new_jam_group_path %></p>

  <ul class="media-list">
    <% @jam_groups.each do |jam_group| %>
      <li class="media well">
        <div class="media-left">
          <%= link_to jam_group do %>
            <img class="media-object responsive-image" src="<%= jam_group.image_url %>" alt="<%= jam_group.name %> Image" height="80" width="80">
          <% end %>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= link_to jam_group.name, jam_group %></h4>
          <p><%= jam_group.description %></p>
        </div>
      </li>
    <% end %>
  </ul>

</div>
