<div class="container">
  <h1>Meet our users!</h1>

<%= form_tag(root_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :age, params[:age], placeholder: "Find by age" %>
<%= submit_tag "Search" %>

<% end %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Location</th>
        <th>Instruments</th>
        <th>Date Joined</th>
      </tr>
    </thead>
    <tbody>
      <% if @users.present? %>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.profile.first_name + ' ' + user.profile.last_name%></td>
            <td><%= user.profile.age %></td>
            <td><%= user.profile.location %></td>
            <td>
            <% user.profile.instrument.each do |instrument| %>
              <%= instrument.name %>
              <% end %>
            </td>
            <td><%= user.created_at.to_date.to_formatted_s(:rfc822) %></td>
            
          </tr>
        <% end %>
      <% else %>
      <p>There are no users of age <%= params[:age] %>.</p>
    <% end %>
    </tbody>
  </table>
</div>
